html {
  background-color: FloralWhite;
  font-size: 1em;
  margin: auto;
  max-width: 1400px;
  padding: 2%;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #0C8066;
  font-family: 'Changa One', cursive;
  font-weight: normal;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

li {
  list-style: none;
  padding: 1em;
}

section {
  padding: 1em;
}

p {
  line-height: 1.5em;
}

button {
  display: block;
  margin: 0 auto;
}

#purpose div {
  background-color: #4b16e9;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

#faq p {
  background-color: #8c0d6c;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

#about div {
  background-color: #7e0c0c;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}
