html {
  background-color: FloralWhite;
  font-size: 1em;
  margin: auto;
  max-width: 1000px;
  padding: 2%;
}

body {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #0C8066;
  font-family: 'Changa One', cursive;
  font-weight: normal;
  text-align: center;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight: bold;
}

li {
  list-style: none;
  padding: 1em;
}

section {
  margin: 10em 0;
  padding: 1em;
}

p {
  line-height: 1.5em;
}

button {
  display: block;
  margin: 0 auto;
}

.flex-container {
  display: flex;
}

.collapsible {
  display: block;
}

.collapsible input {
  position: absolute;
  left: -9999px;
  &:focus ~ .collapser{
    border-color: grey;
  }
}

.collapser {
  cursor: pointer;
  border: 1px transparent dotted;
}

.arrow {
  margin-left: 0.5em;
  transition: transform .25s ease-out;
}

.collapsed {
  font-size: 0;
  margin: 0;
  opacity: 0
  padding: 0;
  transition:
    opacity .25s,
    margin .5s 0.25s,
    font-size .5s 0.25s,
    padding .5s .25s;
}

.collapsible input:checked ~ div .arrow,
.collapsible input:checked ~ div .collapser .arrow {
  transform: rotate(90deg);
}

.collapsible input:checked ~ .collapsed {
  font-size: 1em;
  opacity: 1;
  height: auto;
  padding: 5px 0;
  transition:
    margin .25s,
    padding .25s,
    font-size .25s,
    opacity .5s .25s;
}

#purpose div {
  background-color: #4b16e9;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

#about div {
  background-color: #7e0c0c;
  border-radius: 0.5em;
  color: white;
  padding: 0.5em;
}

#faq h4 {
  display: inline-block;
  text-align: left;
}

#faq img {
  display: inline-block;
}

#faq .flex-container {
  padding: 1em;
}
